################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
Log*.txt
/.vs
/AzureFunctionApp/TestResults/517061ab-93fd-43dd-bc91-9b76b22d1f4a
/AzureFunctionApp/Drop
/Dynamics365Solution/AdvocacyPlatform/spkl
*.bak
/Dynamics365Solution/AdvocacyPlatformWebResources/spkl
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Clients/obj
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Contracts/obj
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions.FunctionalTests/obj
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions.Tests/obj
/AzureFunctionApp/Microsoft.AdvocacyPlatform.TestCallbackHost/obj
/AzureFunctionApp/System800Proj/obj
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions/Properties/PublishProfiles/asap-wu-func-test - Web Deploy.pubxml
/AdvocacyPlatformInstaller/AdvocacyPlatformInstaller/azuredeploy.parameters.bak.json
/AdvocacyPlatformInstaller/AdvocacyPlatformInstaller/creds.txt
/Dynamics365Solution/Drop/AdvocacyPlatformDynamicsPackage
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions/Properties/PublishProfiles/ap-wu-prod-func - Web Deploy.pubxml
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions/Microsoft.AdvocacyPlatform.Functions.SourceManifest.xml
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions/Microsoft.AdvocacyPlatform.Functions.SetParameters.xml
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions/Microsoft.AdvocacyPlatform.Functions.Parameters.xml
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions/Microsoft.AdvocacyPlatform.Functions.deploy.cmd
/AzureFunctionApp/Microsoft.AdvocacyPlatform.Functions/Microsoft.AdvocacyPlatform.Functions.deploy-readme.txt
/AzureFunctionApp/Microsoft.AdvocacyPlatform.LogicApps/obj/Release
/Azure/Drop
/Azure/Microsoft.AdvocacyPlatform.LogicApps/obj/Release
/Azure/Microsoft.AdvocacyPlatform.TestCallbackHost/obj
/Azure/Microsoft.AdvocacyPlatform.TestCallbackHost/appsettings.Development.json
/DynamicsCRM/Drop/AdvocacyPlatformDynamicsPackage
/Azure/Microsoft.AdvocacyPlatform.Clients/obj
/Azure/Microsoft.AdvocacyPlatform.Contracts/obj
/Azure/Microsoft.AdvocacyPlatform.Functions.Tests/obj
/Azure/Microsoft.AdvocacyPlatform.Functions.FunctionalTests/obj
/Azure/Microsoft.AdvocacyPlatform.LogicApps/obj/Debug
/API/Drop
/API/Microsoft.AdvocacyPlatform.Clients/obj
/API/Microsoft.AdvocacyPlatform.Contracts/obj
/API/Microsoft.AdvocacyPlatform.Functions/Properties/PublishProfiles
/API/Microsoft.AdvocacyPlatform.Functions.FunctionalTests/obj
/API/Microsoft.AdvocacyPlatform.Functions.Tests/obj
/API/Microsoft.AdvocacyPlatform.LogicApps/obj/Debug
/API/Microsoft.AdvocacyPlatform.TestCallbackHost/obj
/API/Microsoft.AdvocacyPlatform.TestCallbackHost/appsettings.Development.json
/UI/Drop/AdvocacyPlatformDynamicsPackage
/API/Microsoft.AdvocacyPlatform.Functions.FunctionalTests/Microsoft.AdvocacyPlatform.Functions.FunctionalTests.csproj.user
