<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="7.1.0" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.Deployment" version="7.1.0" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.UII.CommonAssemblies" version="7.1.0" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.Workflow" version="7.1.0" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="7.1.0" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.XrmTooling.CrmConnector.PowerShell" version="9.0.2.12" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.XrmTooling.PackageDeployment" version="7.1.0" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.XrmTooling.PackageDeployment.PowerShell" version="9.0.2.12" targetFramework="net47" />
  <package id="Microsoft.CrmSdk.XrmTooling.PackageDeployment.Wpf" version="9.0.2.16" targetFramework="net47" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net47" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net47" developmentDependency="true" />
</packages>